td {
  display: table-cell;
  vertical-align: middle !important;
}
.table tr:nth-child(odd) {
  background-color: var(--light);
}

.experimental {
  padding: 10px 0px;
  .nav-link {
    cursor: pointer;
    transition: all 0.4s;
    &:hover {
      border: 1px solid var(--primary);
    }
  }
  .nav-link.active {
    background: var(--primary);
    color: white;
  }
  .nav-item:hover .nav-link {
    transform: translateY(-5px);
  }
  .nav-link.active:hover {
    background-color: var(--primary_hover);
  }
  .fa-trash-alt {
    color: var(--danger);
  }
  .fa-edit {
    color: var(--success);
  }
  .fa-trash-alt:hover, .fa-edit:hover {
    cursor: pointer;
    transform: scale(1.2) translateY(-2px);
    transition: all 0.4s;
  }
  .actions {
    display: flex;
    justify-content: space-around;
    border: none;
    margin-top: 5px;
  }
  .nav-item {
    text-align: center;
    width: 25%;
    font-size: 1.6em;
    font-weight: 600;
  }
}