.sidebar {
  min-width: 260px;
  transition: all 0.5s;
  i {
    color: var(--primary);
  }
  .list-group-item.active a, .list-group-item.active i {
    color: white;
  }
  .parent_name {
    left: 50px;
    top: 10px;
    position: absolute;
    font-size: 1.1em;
    font-weight: 600;
    padding-left: 10px;
  }
  .box .fa-bars {
    cursor: pointer;
  }
  .fa-chevron-right {
    transition: all 0.6s cubic-bezier(0.475, 1.985, 0.32, 1.275);
  }
  .list-group-item:hover {
    cursor: pointer;
  }
  .active-path {
    border-left: 5px solid var(--primary) !important;
  }
  .box .fa-bars:hover {
    transition: all 0.5s;
    transform: scale(1.1);
  }
  .fa-chevron-right.rotate {
    transform: rotate(90deg);
    transition: all 0.6s cubic-bezier(0.175, 1.985, 1.72, 1.275);
  }
  .list-group li:not(.active):hover {
    background-color: var(--sidebar_hover);
    transition: all 0.3s;
    transform: translateY(3px);
  }
  .list-group li.active:hover {
    background-color: var(--primary_hover);
  }
  .list-group.active .parent_name {
    color: white !important;
  }
  /* click on main item start */
  .arrow .fa-chevron-right.rotate {
    transition: all 0.25s linear;
    transform: rotate(90deg);
  }
  .arrow .fa-chevron-right {
    transition: all 0.25s linear;
    transform: rotate(0deg);
  }
  /* click on main item end */
  /* hover on child item end */
  .list-group-item.child {
    margin: 2px 0px 2px 10px;
  }
  .list-group-item.child:hover {
    transition: all 0.3s;
    transform: translateY(-3px);
  }
  .list-group a {
    color: var(--black);
    text-decoration: none;
  }
  .parent_box .fa-chevron-right, .parent_box .parent_name {
    animation-name: sidebar_toggle;  
    animation-duration: 1s;
  }
  .sidebar_child_container:hover {
    animation-name: hover_sidebar_child;
    animation-duration: 0.8s;
  }
}

.sidebar.toggled {
  min-width: 60px;
}

@keyframes sidebar_toggle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hover_sidebar_child {
  from {
    margin-left: 0px;
  }
  to {
    margin-left: 5px;
  }
}
